.sign-container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: -150px;
  z-index: 999;
  .close {
    float: right;
    color: #777;
    &:hover {
      color: #333;
    }
  }
  .signup, .signin, .result {
    text-align: center;
    .fa-exclamation {
      color: red;
    }
    .sign-btn {
      width: 70px;
      margin: 30px;
      padding: 5px 0;
      text-align: center;
      background: #1ecd97;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: #20dba1;
      }
    }
    button {
      border-color: #20dba1;
      border-radius: 3px;
      padding: 3px 6px;
      transition: all .5s;
      &:hover {
        background-color: #20dba1;
        cursor: pointer;
      }
    }
  }
  .signin, .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      i {
        margin-right: 5px;
        color: #1ecd97;
      }
    }
    .name-container, .pass-container, .repass-container {
      width: 100%;
      height: 50rpx;
      margin-top: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      span {
        width: 30%;
      }
      input {
        height: 25px;
        width: 70%;
        border-radius: 3px;
        border: 1px solid #999;
      }
    }
  }
  .go-sign {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    color: #777;
  }
}
@media screen and (max-width: 767px) {
  .sign-container {
    box-sizing: border-box;
    left: 0;
    margin: 0;
    width: 100vw;
  }
}
